{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ sn }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.freedom.org.
        NS  ns02.freedom.org.
ns01    A   {{ master_ip }}
ns02    A   {{ slave_ip }}

vcenter             IN      A       10.255.3.253

central-server      IN      A       10.255.1.11
harbor              IN      A       10.255.1.21
zabbix              IN      A       10.255.1.13
nfs                 IN      A       10.255.2.100


; FATAL Unable to prepare the list of endpoints:
; Invalid ellipsis format in (http://minio-{01..04}.freedom.org:9000/data{00..01}),
; Ellipsis range must be provided in format {N...M} where N and M are positive integers,
; M must be greater than N,  with an allowed minimum range of 4
minio-1            IN      A       10.255.0.252
minio-2            IN      A       10.255.1.6
minio-3            IN      A       10.255.1.7
minio-4            IN      A       10.255.1.8

; 将minio管理界面解析到高可用vip
minio-console      IN       A      10.255.1.111
minio-console      IN       A      10.255.1.222
minio-s3           IN       A      10.255.1.111
minio-s3           IN       A      10.255.1.222


grafana            IN       A     10.255.1.111
grafana            IN       A     10.255.1.222



