#!/bin/sh
#
# chkconfig: - 86 14
# description: consul daemon
# processname: consul
# config: /etc/consul.d
#

# Source function library.
. /etc/rc.d/init.d/functions

exec=/usr/bin/consul
prog=${exec##*/}
conf={{ conf_dir }}
pidfile={{ conf_dir }}/consul.pid
timeout=10

lockfile=/var/lock/subsys/consul

start()
{
    echo -n $"Starting consul: "
    daemon $exec agent -config-dir=$conf -pid-file=${pidfile} &>/dev/null &
    rv=$?
    echo
    [ $rv -eq 0 ] && touch $lockfile
    return $rv
}

stop()
{
    echo -n $"Shutting down consul: "
    killproc -p $pidfile -d $timeout $prog
    rv=$?
    echo
    [ $rv -eq 0 ] && rm -f $lockfile
    return $rv
}

restart()
{
    stop
    start
}

case "$1" in
    start|stop|restart)
        $1
        ;;
    force-reload)
        restart
        ;;
    status)
        status -p $pidfile $prog
        ;;
    try-restart|condrestart)
        if status $prog >/dev/null ; then
            restart
        fi
        ;;
    reload)
        action $"Service ${0##*/} does not support the reload action: " /bin/false
        exit 3
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart|try-restart|force-reload}"
        exit 2
        ;;
esac
